<phpunit bootstrap="./tests/bootstrap.php">
    <testsuites>
        <testsuite name="ORM">
            <file>tests/QueryTest.php</file>
            <file>tests/RelationsTest.php</file>
            <file>tests/LazyLoaderTest.php</file>
            <file>tests/CreateTest.php</file>
            <file>tests/UpdateTest.php</file>
            <file>tests/DeleteTest.php</file>
            <file>tests/LinkTest.php</file>
        </testsuite>
    </testsuites>
</phpunit>