#back-to-top {
    position: fixed;
    display: none;
    bottom: 1rem;
    right: 1rem;
    width: 3rem;
    height: 3rem;
    line-height: 3rem;
    text-align: center;
    vertical-align: middle;
    border-radius: 50%;
    z-index: 100;
}

.link-anchor {
    visibility: hidden;
    font-size: 0.75em;
}

*:hover > .link-anchor {
    visibility: visible;
}

.chapter {
    padding-bottom: 0.25rem;
    border-bottom-width: 1px;
    border-bottom-style: dashed;
}

.nav + .chapter {
    margin-top: 1rem;
}

.nav-link.active {
    font-weight: bold;
}
.nav-link.active:before{
    content: "✓";
    display: block;
    float: left;
    width: 1em;
    margin-left: -1em;
}

/* Hidden */
@media (max-width: 575px) {
    .hidden-xs {
        display: none;
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .hidden-sm {
        display: none;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .hidden-md {
        display: none;
    }
}

@media (min-width: 992px) and (max-width: 1199px) {
    .hidden-lg {
        display: none;
    }
}

@media (min-width: 1200px) {
    .hidden-xl {
        display: none;
    }
}